.about {
  text-align: center;
  font-family: 'Merriweather', serif;

  &__title {
    font-size: 34px;
    text-decoration: underline;
  }

  &__table {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__line {
    margin-right: 10px;
    display: inline-block;
  }

  &__about__link {
    display: inline;
    padding-left: 10px;
  }

  &__subTitle {
    //color: #BCBBCD;
  }
}