.catalog {
  min-height: calc(100vh - 199px);
  padding-top: 10px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 4fr;

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 10px;

    @media (max-width: 1024px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__error {
    color: red;
    font-weight: bold;
    padding-top: 17vh;
    text-align: center;
  }
}
