.home{
  text-align: center;

  &__img {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
  }

  &__whyAlwaysUs {
    max-width: 700px;
    margin: 0 auto;
  }

  &__statistic {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 670px;
    margin: 0 auto;
  }


  &__statisticNumber {
    color: #00A046;
    font-size: 43px;
    font-weight: bold;
    margin: 20px;
  }

  &__statisticDescription {
    color: #7983AC;
    font-size: 20px;
  }
}