.order-3 {
  min-height: calc(100vh - 199px);
  text-align: center;
  padding-top: 30px;

  &__donePicture {
    width: 120px;
    margin-bottom: 30px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__description {
    margin-bottom: 70px;
  }
}