.delivery {
  font-family: 'Merriweather', serif;

  &__title {
    text-align: center;
    text-decoration: underline;
    font-size: 34px;
  }

  &__titleOfCategory {
    display: inline-block;
    margin-left: 10px;
  }
}